/*
 * Copyright (C) 2012-2020  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.nav-icon {
    width: 1.75rem;
    height: 1.75rem;
    display: inline-block;
    background-size: cover;
    margin-left: -0.05rem;
    margin-right: 0.05rem;

    &.original {
        background-image: svg-load("../assets/icons/nav-original.svg");
    }
    &.left-expanding {
        background-image: svg-load("../assets/icons/nav-left-expanding.svg");
    }
    &.left-flat {
        background-image: svg-load("../assets/icons/nav-left-flat.svg");
    }
    &.top-dropdowns {
        background-image: svg-load("../assets/icons/nav-top-dropdowns.svg");
    }
    &.top-more {
        background-image: svg-load("../assets/icons/nav-top-more.svg");
    }
}


.NavStylePicker {
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    max-width: 90vw;
}
